<%- include('../partials/head') %>   
    <title>Blog Away</title>
</head>

<%- include('../partials/navDash') %>
<div class="container" >
<div class="admin-title">
    <h2>Add New Post</h2>
</div>
<form action="/addPost" method="post">
    <label for="blogTitle">Title</label>
    <input type="text" placeholder="title of the post" name="blogTitle">
    <label for="blogContent">Content</label>
    <textarea name="blogContent" id="blogContent" cols="50" rows="10"></textarea>    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<%- include('../partials/end') %>