
<nav class="navbar navbar-expand-lg custonNavBg">
    <div class="container">        
      <a class="navbar-brand navColor">Blog Away</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/#">About</a>
          <a class="nav-link" href="/#">Contact</a>
          <a class="nav-link" href="/login">Login</a>   
          <a class="nav-link" href="/registerUser">Register</a>          
        </div>
      </div>      
    </div>
  </nav>