<div class="searchBar">
<div class="container">
    <form action="/search" class="searchForm" method="POST">
        <input type="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site..."
    </form>
</div>
</div>