<%- include('partials/head') %>   
    <title>login</title>  

  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container p-5">
      <h1>Blog Away</h1>
      <h3>Login</h3>
      <form id="frm" class="frm" action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email">      
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">      
        </div>
        <button type="submit"  id="login-submit-button" class="btn logInBtn">Sign Up</button>
      </form>
    </div>
    <%- include('partials/end') %>