
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
   --yellow: #FBCF14;
   --teel:#108690;
   --blue:#1D1E4E;
   --blue-light:#24255c;
   --white:#EEEDD9;   
   --green:#01CD9D;
   --font-size-base : 1rem;
   --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
   --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
   --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
   --border-radius:10px;
   --font-size-xl: clamp(2rem, 2.38vw + 1.85rem, 3rem);
} 

body{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: var(--font-size-base);
    background-color: var(--blue);
    margin: 0;
}
.custonNavBg{
   background-color: var(--teel);
}
.nav-link{
   color:var(--white);
}
.nav-link:hover{
   color:var(--yellow);
}


a { color: var(--black);    text-decoration: none; }

h1 { font-size: var(--font-size-xxl);}
h2 { font-size: var(--font-size-xl);}
h3 { font-size: var(--font-size-lg);}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea{
    font-family: 'Poppins', sans-serif;    
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}


.imgCoffee
{
   width:70%;
   height: auto;
    filter:drop-shadow(0px 44px 34px rgba(0,0,0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

/*header section*/
.header{
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
    grid-template-areas:
     "logo button"
     "menu menu";
}

@media only screen and (min-width : 768px){
    .header{
        
        grid-template-columns:auto 1fr auto;       
        grid-template-areas:
         "logo menu button";
    }
}

.headerLogo{
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    color:var(--yellow);
}
.headerLogo:hover {  
    color: var(--white);
}

 /*author*/
 .author{
    padding: 10px 0;
    text-align: center;
 }

 .authorHeading{
    margin-top: 1em;
    margin-bottom: 1em;

 }
 .authorBody{
    font-size: var(--font-size-md);
    margin-top: 10px;
    margin-bottom: 5px
 }

/*artical*/
.articaleGrid{ 
   display: grid;
   grid-template-columns: 3fr 1fr  1fr;
   padding: 10px;
}
.articleGrid-item {    
   padding: 5px;   
   font-size: 1em;
 }
.articleTitle{
   color:var(--white);
   text-align: left;
}
 .createOndt{    
   text-align: right;
  
 }

 .articleTitle a:hover{
 color:var(--yellow);
 text-decoration: underline;
 font-size: larger;
   
 }
 .articalHeading{
    font-weight: 400;
    margin-top: 2em;
 }


/*search bar*/

.searchBtn, .logInBtn{
   background-color: var(--yellow);
   color: var(--teel);  
   height: 2.5em;
}

.searchBtn:hover,.logInBtn:hover  {
   background-color: var(--teel);
   color: var(--yellow);  
}

.searchInput
{
   height: 2.5em;
   background-color: var(--yellow);
}
footer{
   margin-top: 1em;
}

/* dashboard */

.dashNewPost{
   margin-top: 1em;
   display: grid;
   grid-template-columns: 4fr 1fr;
   padding: 1em 1em;
   border-radius: var(--border-radius);
   background-color: var(--blue-light);
}
.dashGrid{ 
   display: grid;
   grid-template-columns: 4fr 1fr  1fr;
   padding: 10px;
}
.dashGridItems{
   display: inline;
   margin-bottom: 1em;
}
.dashBtnEdit{
   background-color:var(--teel);
   color:#ffff;
}
.dashBtnEdit:hover{
   background-color:var(--yellow);
   color: #050402;
}
.dashBtnDelete{
   background-color:#01CD9D;
   color:#ffff;
}
.dashBtnDelete:hover{
   background-color:var(--yellow);
   color: #050402;
}
.dashSearch{
  width:70%; margin-left: auto; margin-right: auto; margin-top: 1em;
}













